# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
-.# dist  <-- Commented out or removed
+docs
+dist
 dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

# Ignore generated data assets
/public/details/
/public/city-stats.json
public/lst_grid.geojson
+public/pune_trees_live.geojson

# Local Netlify folder
.netlify