# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
# dist  <-- Commented out or removed
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
public/lst_grid.geojson
docs/lst_grid.geojson 
api/ca-certificate.crt
# PMTiles files (served from Cloudflare R2)
public/*.pmtiles
*.pmtiles*.mbtiles
*.geojson
!docs/**/*.geojson